<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>List Conference</title>
  <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
  <!--<link rel="stylesheet" href="login.component.css">-->
  <!--<link rel="stylesheet" href="style.css">-->
</head>
<body>
      <div id="result" (click)="listAll()"> BEHOLD, THE CONFERENCES</div>
      <table>
      <ul class="conferences">
        <li *ngFor="let conference of conferences">
          <b>{{conference.name}}</b><br>
          <div>ID</div>{{conference.id}}<br>
          <div>Date:</div>{{conference.date}}<br>
          <div>Deadline:</div>{{conference.deadline}}<br>
        </li>
      </ul>
      </table>
</body>
</html>
