<!DOCTYPE html>
<html >
<head>
  <meta charset="utf-8">
  <title>Conference List</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<home></home>
<!-- DON'T TALK TO ME -->
<br><br><br><br>
<!-- DON'T TALK TO ME -->
<div id="result" (click)="listAll()"><h1> BEHOLD, THE <u>C O N F E R E N C E S</u> </h1></div>
<!-- DON'T TALK TO ME -->
<br><br><br><br>
<!-- DON'T TALK TO ME -->
        <ul style="list-style: none;" *ngFor="let conference of conferences">
          <div class="conference">
            <li>
          <ul style="list-style: none;">
            <li><b id='name'>{{conference.name}}</b></li>
           <li>Conference ID: {{conference.id}}</li>
           <li>Conference Date: {{conference.date}}</li>
           <li>Submission Deadline: {{conference.deadline}}</li>
           <li><button (click)="goToConfView(conference.name)"><span>View Conference</span></button></li>
          </ul>
          </li>
          </div>
          </ul>
</body>
</html>
