body {
  color: #666666;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
}

.login-title {
  margin-top: 50px;
  padding: 0 0 50px 0;
  text-align: center;
  letter-spacing: 2px;
}

.login-title h1 {
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 300;
}
