<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet prefetch'
        href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<home></home>


<div *ngIf="conference && (owner == currentUser)">
  <div class="container-fluid">
    <div class="col-md-10 col-md-offset-1" style="margin-top: 100px;">
      <div class="panel panel-default panel-table">

        <div class="panel-heading">
          <div class="login-title">
            <h1 align="center">The {{conference.name}}</h1>
            <h2>Conference Management</h2>
          </div>
        </div>

        <div class="panel-body">
          <div class="row">
            <div class="col-sm-3">
              <div align="center">
                <form>
                  <div>
                    <h4>Name</h4>
                    <input style="width: 300px; text-align: center;" class="form-control" type="text"
                           value="{{conference.name}}" id="name" #name/>
                  </div>
                  <hr>
                  <div>
                    <h4>Conference Date</h4>
                    <input style="width: 300px; text-align: center;" class="form-control" value="{{conference.date}}"
                           id="date" #date/>
                  </div>
                  <hr>
                  <div>
                    <h4>Registration Deadline</h4>
                    <input style="width: 300px; text-align: center;" class="form-control"
                           value="{{conference.deadline}}" id="deadline" #deadline/>
                  </div>
                  <hr>
                  <button class="btn btn-primary"
                          (click)="update(name.value,date.value,deadline.value)">Save
                  </button>
                  <div id="update-success" class="alert alert-success" align="center">
                    <strong>The conference was successfully updated.</strong>
                  </div>
                  <div id="update-failure" class="alert alert-danger" align="center">
                    <strong>The conference could not be updated.</strong>
                  </div>
                  <div id="update-required" class="alert alert-danger" align="center">
                    <strong>All the fields are required.</strong>
                  </div>
                  <button class="btn btn-primary"
                          (click)="goToPapers()">See Papers
                  </button>
                </form>
              </div>
            </div>

            <div class="col-sm-3">
              <div align="center">
                <h3>Reviewers </h3>
                <ol id="reviewer-list-owner" class="list-group">
                  <li class="list-group-item" style="width: 280px;">Bartholomew Cubbins
                    <button style="float:right; margin-top: -7px;" class="btn btn-danger"><em class="fa fa-trash"></em>
                    </button>
                  </li>
                  <li class="list-group-item" style="width: 280px;">Benjamin Bicklebaum
                    <button style="float:right; margin-top: -7px;" class="btn btn-danger"><em class="fa fa-trash"></em>
                    </button>
                  </li>
                  <li class="list-group-item" style="width: 280px;">Sally Spingel Spugel Sporn
                    <button style="float:right; margin-top: -7px;" class="btn btn-danger"><em class="fa fa-trash"></em>
                    </button>
                  </li>
                  <li *ngFor="let reviewer of reviewers" class="list-group-item">
                    {{reviewer.name}}
                    <button class="btn btn-danger"><em class="fa fa-trash"></em>
                    </button>
                  </li>
                </ol>

                <div align="center">
                  <div align="center">
                    <form>
                      <div class="form-group">
                        <input style="width: 300px; text-align: center;"
                               class="form-control" placeholder="Username" type="text" id="reviewer" #reviewer/>
                        <button style="margin-top: 10px" class="btn btn-primary" (click)="addReviewer(reviewer.value)">
                          Add
                        </button>
                      </div>
                    </form>
                  </div>
                  <div id="add-reviewer-success" class="alert alert-success" align="center">
                    <strong>The reviewer was successfully added to the list.</strong>
                  </div>
                  <div id="add-reviewer-failure" class="alert alert-danger" align="center">
                    <strong>This reviewer could not be added to the list.</strong>
                  </div>
                  <div id="add-reviewer-required" class="alert alert-danger" align="center">
                    <strong>You must specify the reviewer's username.</strong>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div align="center">
                <h3>Attenders</h3>
                <ol id="attender-list-user" class="list-group">
                  <li class="list-group-item" style="width: 280px;">Bartholomew Cubbins
                    <button style="float:right; margin-top: -7px;" class="btn btn-danger"><em class="fa fa-trash"></em>
                    </button>
                  </li>
                  <li class="list-group-item" style="width: 280px;">Benjamin Bicklebaum
                    <button style="float:right; margin-top: -7px;" class="btn btn-danger"><em class="fa fa-trash"></em>
                    </button>
                  </li>
                  <li class="list-group-item" style="width: 280px;">Sally Spingel Spugel Sporn
                    <button style="float:right; margin-top: -7px;" class="btn btn-danger"><em class="fa fa-trash"></em>
                    </button>
                  </li>
                  <li *ngFor="let attender of attenders" class="list-group-item" style="width: 280px;">
                    {{attender.name}}
                    <button style="float:right; margin-top: -7px;" class="btn btn-danger"><em class="fa fa-trash"></em>
                    </button>
                  </li>
                </ol>
              </div>
            </div>

            <div class="col-sm-3">
              <div align="center">
                <h3>Speakers</h3>
                <ol id="speaker-list-user" class="list-group">
                  <li class="list-group-item" style="width: 280px;">Bartholomew Cubbins
                    <button style="float:right; margin-top: -7px;" class="btn btn-danger"><em class="fa fa-trash"></em>
                    </button>
                  </li>
                  <li class="list-group-item" style="width: 280px;">Benjamin Bicklebaum
                    <button style="float:right; margin-top: -7px;" class="btn btn-danger"><em class="fa fa-trash"></em>
                    </button>
                  </li>
                  <li class="list-group-item" style="width: 280px;">Sally Spingel Spugel Sporn
                    <button style="float:right; margin-top: -7px;" class="btn btn-danger"><em class="fa fa-trash"></em>
                    </button>
                  </li>
                  <li *ngFor="let speaker of speakers" class="list-group-item" style="width: 280px;">
                    {{speaker.name}}
                    <button style="float:right; margin-top: -7px;" class="btn btn-danger"><em class="fa fa-trash"></em>
                    </button>
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col col-xs-4"><b>&copy; TRU916</b></div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->

      <!--<form action="addRow.jsp">-->
      <form>

        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add new paper</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="nameADD">Name</label>
              <input name="nameADD" class="form-control input-lg" id="nameADD" type="text"
                     placeholder="File name" autocomplete="off" style="text-align:center" #nameadd>
            </div>
            <div class="form-group">
              <label for="pathADD">Path</label>
              <input name="pathADD" class="form-control input-lg" id="pathADD" type="text"
                     placeholder="Path link" autocomplete="off" style="text-align:center" #pathadd>
            </div>
          </div>
          <div class="modal-footer">
            <button (click)="addpaper(nameadd.value,pathadd.value)" class="btn btn-default">Upload</button>
          </div>
          <div id="upload-success" class="alert alert-success" align="center">
            <strong>Upload Successfull!</strong>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<div *ngIf="conference && (owner != currentUser)">

  <div class="container-fluid">
    <div class="col-md-6 col-md-offset-3" style="margin-top: 100px;">
      <div class="panel panel-default panel-table">
        <div class="panel-heading">
          <div class="login-title">
            <h1 align="center">The {{conference.name}}</h1>
            <h2> Conference Details </h2>
          </div>
        </div>
        <div>
          <div class="panel-body">
            <div class="col-md-12">
              <div align="center">
                <h3>General conference information</h3>
                <div>
                  The conference will take place on <b> {{conference.date}} </b>.
                  <br>
                  All conference sessions are hosted in the <b> Auditorium Maximum </b> at The Babeș-Bolyai University
                  in
                  Cluj-Napoca, Cluj County, Romania.
                  <br>
                  If you have any questions, please <b> contact {{conference.ownerUsername}} </b> via email at
                  dr-seuss@ubb.edu or by phone at 505-505-505.
                </div>
              </div>
              <hr>
              <div align="center">
                <h3>Organizer</h3>
                <mark><i>{{conference.ownerUsername}}</i></mark>
              </div>
              <hr>
              <div align="center">
                <h3>Application</h3>
                <button class="btn btn-primary" (click)="attend()">Attend</button>
                <!--<button class="btn btn-primary" (click)="gotToSubmit()">Submit Paper</button>-->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Submit Paper
                </button>

                <p><br>Please apply by {{conference.deadline}} .</p>
                <div id="attend-success" class="alert alert-success" align="center">
                  <strong>You are now attending this conference.</strong>
                </div>
                <div id="attend-failure" class="alert alert-danger" align="center">
                  <strong>You are already attending this conference.</strong>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-6">
                  <div align="center">
                    <h3>Attenders</h3>
                    <ol id="attender-list-user" class="list-group">
                      <li class="list-group-item" style="width: 280px;">Bartholomew Cubbins</li>
                      <li class="list-group-item" style="width: 280px;">Benjamin Bicklebaum</li>
                      <li class="list-group-item" style="width: 280px;">Sally Spingel Spugel Sporn</li>
                      <li *ngFor="let attender of attenders" class="list-group-item" style="width: 280px;">
                        {{attender.name}}
                      </li>
                    </ol>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div align="center">
                    <h3>Featured Speakers</h3>
                    <ol id="speaker-list-user">
                      <li class="list-group-item" style="width: 280px;">Bartholomew Cubbins</li>
                      <li class="list-group-item" style="width: 280px;">Benjamin Bicklebaum</li>
                      <li class="list-group-item" style="width: 280px;">Sally Spingel Spugel Sporn</li>
                      <li *ngFor="let speaker of speakers" class="list-group-item" style="width: 280px;">
                        {{speaker.name}}
                      </li>
                    </ol>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="panel-footer">
            <div class="row">
              <div class="col col-xs-4"><b>&copy; TRU916</b></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</body>
</html>
