body {
  /*background: #e9e9e9;*/
  color: #666666;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
}

/*Title*/
.home-title {
  float: left;
  margin-top: 30px;
  margin-left: 220px;
  padding: 50px 0;
  text-align: center;
  letter-spacing: 4px;
}

.home-title h1 {
  margin: 0;
  font-size: 55px;
  font-weight: 600;
}

/* Add conference */
#add-conference {
  top: 200px;
  position: absolute;
}

#add-conference .button-container {
  margin: 0 60px;
}

#add-conference .button-container button {
  border-radius: 20px;
  outline: 0;
  cursor: pointer;
  border: 2px solid gray;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
}

#add-conference .button-container button span {
  color: dimgray;
  transition: .3s ease;
}

/* Logout */
#logout {
  top: 300px;
  position: absolute;
}

#logout .button-container {
  margin: 0 60px;
}

#logout .button-container button {
  border-radius: 20px;
  outline: 0;
  cursor: pointer;
  border: 2px solid gray;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
}

#add-conference .button-container button span {
  color: dimgray;
  transition: .3s ease;
}

/*For Nav Bar*/

.custom1 {
  display: block;
  cursor: pointer;
}
/*Without shade on the screen*/
/*.off-canvas > .cstm-shade {*/
  /*width: 0;*/
  /*height: 0;*/
  /*position: fixed;*/
  /*top: 0;*/
  /*left: 0;*/
  /*transition: background 0.5s ease, width 0s ease 0.5s, height 0s ease 0.5s;*/
/*}*/

.off-canvas > input[type="checkbox"] {
  display: none;

}

.off-canvas > input[type="checkbox"]:checked ~ .cstm-shade {
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  transition: background 0.5s ease;
}

.off-canvas > .cstm-shade > .cstm-navi {
  background: #e9e9e9;
  width: 300px;
  height: 100%;
  position: fixed;
  right: -300px;
  transition: right 0.5s ease;
  z-index:100;
}

.off-canvas > input[type="checkbox"]:checked ~ .cstm-shade > .cstm-navi {
  right: 0;
}

.cstm-navi-content {
  padding: 20px;
  padding-top: 80px;
}


/*.glyphicon{*/
/*color: #ed2553;*/
/*}*/
/*.active*/
/*{*/
/*color: #ed2553;*/
/*}*/

#registerconf, #register, #profile {
  display: none;
}
